body {
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	font-family: Courier;
}

#headerSection{
	background-color: #BCBCBC;
	margin-top: 1px;
	vertical-align: top;
}

.headerBlock{
	display: inline-block;
}

header {
	text-align: center;
	color: #424242;
}

header img {
	width: 70%;
	height: auto;
}

nav {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.navButton {
	background-color: #EEDD25;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #BCBCBC;
	display:inline-block;
	cursor:pointer;
	color:#424242;
	font-family: Courier;
	font-size:20px;
	padding:6px 15px;
	text-decoration:none;

}
.navButton:hover {
	background-color: #EE7621;
}
.navButton:active {
	position:relative;
	top:10px;
}

.pageTitle {
	margin-left:auto;
	margin-right: auto;
	margin-top: 2%;
	text-align: center;
	color: black;
	background-color: #EEDD25;
	max-width: 30%;
	border-radius: 15px;
    border: 2px solid black;
}

#contentOne {
	text-align: center;
	color: black;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.aboutContent {
	display: inline-block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.aboutContent h1 {
	color: black;
	text-align: center;
}

.centerDiv {
	margin-left: auto;
	margin-right: auto;
	width: 65%;
}


#contentOne img {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
}

#homePagePicture {
	width: 100%;
}

#logos img {
	width: 250px;
	height: auto;
}

#contentTwo {
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 20px 0px 20px 0px;
}

.subContent {
	height: 300px;
	width: 300px;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 2%;
	margin-right: 4%;
	padding: 10px 5px 10px 5px;
	background-color: #EEDD22;
	font-family: Courier;
	display: inline-block;
	vertical-align: text-top;
}

.subContent ul li {
	text-align: left;
	padding-top: 5px;
	
}

.subContentWide {
	width: 60%;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: auto;
	margin-right: auto;
	padding: 15px 10px 15px 10px;
	background-color: #BCBCBC;
	font-family: Courier;
	text-align: left;
	color: black;
}

.pricingCard {
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	margin-bottom: 0px;
	width: 40%;
	color: black;
	text-align: left;
	padding: 5px 5px 5px 5px;
	display: inline-block;
	height: 360px;
	vertical-align: top;
	border-radius: 25px;
    border: 2px solid black;
}

.pricingCard h2 {
	color: black;
	text-align: center;
}

.pricingCard-xl {
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	margin-bottom: 0px;
	width: 82%;
	color: black;
	text-align: left;
	padding: 5px 5px 5px 5px;
	height: auto;
	vertical-align: top;
	border-radius: 25px;
    border: 2px solid black;
}

.pricingContent {
	margin-left: auto;
	margin-right:auto;
}

table {
	border-collapse: collapse;
}

table, th, td {
	border: 1px solid black;
}

caption {
	color: white; 
	text-align: center;
	
}

.svg {
	width: 340px;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	margin-bottom: 2%;
	background-color: #3299BB;
}

.svg img {
	height: 200px;
	width: 300px;
}

.rfi {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.rfiButton {
	background-color: #EEDD25;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #BCBCBC;
	cursor:pointer;
	color:#424242;
	font-family: Courier;
	font-size: 20px;
	padding:6px 15px;
	text-decoration:none;
	margin-bottom: 2%;
	margin-top: 2%;
	text-align: center;
	display: block;

}
.rfiButton:hover {
	background-color: #EE7621;
}

#rfitable {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#rfitable table {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	border: none;
}

#rfitable tr td {
	width: 100%;
	border: none;
}

#rfitable input {
	width: 100%;
	height: 25px;
	margin-bottom: 5px;
}

.emailLink {
	color: #EEDD25;
}


form {
	width: 60%;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: auto;
	margin-right: auto;
	padding: 15px 10px 15px 10px;
	background-color: #BCBCBC;
	font-family: Courier;
	text-align: left;
	color: black;
}

#formSection {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

#formSection p {
	text-align: left;
}

#formSection input, textarea, abbr {
	float: right;
}

.jpgPictures {
	display: inline-block;
	width: 500px;
	height: auto;
	border: 2px solid #BCBCBC;
}

footer {
	background-color: black;
}

#footerLinks {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #EEDD25;
}

#footerLinks a {
	color: #EEDD25;
}

#footerInfo {
	margin-top: 5px;
	color: white;
	text-align: center;
}

#footerInfo a {
	color: #EEDD25;
}

.socialMedia {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#socialMediaIcon {
	width: 60px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (max-width:700px) {
	.mobileHide {
		display: none;
	}
	
	.headerBlock h1 {
		clear: both;
	}
	
	.svg {
		max-width: 90%;
	}
	
	#mainVideo {
		height: auto;
		width: 400px;
	}
}

@media screen and (max-width:500px) {
	.mobileHide {
		display: none;
	}
	
	.headerBlock h1 {
		clear: both;
	}
	
	.mobileHeaderHide {
		display: none;
	}
	
	.mobileColumnHide {
		display: none;
	}
	
	body {
		max-width: 95%;
	}
	
	.rfi {
		font-size: 8px;
		max-width: 350px;
	}
	
	.rfiButton a {
		font-size: 8px;
		max-width: 350px;
	}
	
	.jpgPictures {
		max-width: 300px;
		height: auto;
		border: 2px solid #BCBCBC;
	}
	
	.subContentWide {
		width: 90%;
	}
	
	#mainVideo {
		height: auto;
		width: 300px;
	}
	
	form {
		width: 90%;
	}
	
	#formSection {
		max-width: 90%;
	}

	.pricingCard {
		width: 90%;
		height: auto;
		display: block;
	}

	.pricingCard-xl {
		width: 90%;
		height: auto;
		display: block;
	}

	.pricingCard-xl h2 {
		text-align: center;
	}

	.pageTitle {
		width: 70%;
		max-width: 70%;
	}
}
