html, body {
	height: 100%;
}

.container {
	max-width: 100%;
	display: flex;
}

.row, jumbotron {
	align-items: center;
}

#header-section {
	background: #BCBCBC;
}

#header-section img {
	margin-left: 50px;
	max-width: 75%;
}

.nav-link {
	background: #EEDD22;
	color: #424242;
	margin-left: 5px;
	margin-right: 5px;
}

.nav-link:hover {
	background-color: #EE7621;
	color: #424242;
}

#hero-section {
	background-image: url("../images/winston_hero.jpg");
	height: 500px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.jumbotron {
	opacity: .7;
	padding-top: 5px;
	padding-bottom: 5px;
}
